@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full:before {
    border-radius: 0.5rem;
    opacity: 0.45;
}  

.cus {
    padding-top: 14rem;
}

.cus h2, p {
    color: #fff;
}